/*variables*/ 
$color-Bgblancotexto: rgba(255, 255, 255, 0.9);


/*extend*/  /*bloque de codigo repetible*/
/*%background:{
    background-image: url("./imagenes/fotoprincipal.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
};*/

