/*variables*/ 
$color-texto: white;
$color-border:rgba(214,4,105,0.6);


/*extend*/  /*bloque de codigo repetible*/
/*%background:{
    background-image: url("./imagenes/fotoprincipal.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
};*/

