@media only screen and (max-width: 1721px){
    /*productos*/
    .padreGaleria1-productos{
        flex-wrap: wrap;
    }
    .padreGaleria2-productos{
        flex-wrap: wrap;
    }
    .padreGaleria3-productos{
        flex-wrap: wrap;
    }
    .padreGaleria3-productos img{
        margin: 0%;
        
    }
    .mainContacto{
        width: auto;
        height: auto;
        margin: 30px;
    }
    form{
        
        width: 100%;
        height: auto;
        padding: 20px;
    }
    input{
        width: 80%;
    }
    textarea{
        width: 80%;

    }

}

@media only screen and (max-width: 1024px){

    Header {
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    .backgroundImage {
        background-position: center;
        
    }
    .galeriaIndex{
        width: 80vw;
        height: 75vh;
    }
    .main-div-karinat {
        flex-direction: column;
    }
    .main-div-nutella{
        flex-direction: column;  
    }

    footer {
        flex-direction: column;
    }
    /*productos*/
     

    .padreGaleria1-productos{
        flex-direction: column;
        align-items: center;
    }
    .padreGaleria2-productos{
        flex-direction: column;
        align-items: center;
    }
    .padreGaleria3-productos{
        flex-direction: column;
        align-items: center;

    }
    .padreGaleria3-productos img{
        margin: 0px;
    }
    .paletasHeladas{
        margin: 0px;
    }
    /*sobre nosotros*/
    .div-img-texto-local{
        flex-direction: column;
    }
    .imgLocal{
        width: 100%;
        height: auto;
    }
    .textoLocal{
        width: auto;
        height: auto;
        font-size: 21px;
    }
    .div-imag-texto-cuarto{
        flex-direction: column;
    }
    .imgCuarto{
        width: 100%;
        height: auto;
    }
    .textoCuarto{
        width: auto;
        height: auto;
        font-size: 21px;
    }

    /*contactos*/

    .mainContacto{
        width: auto;
        height: auto;
        margin: 30px;
    }
    form{
        
        width: 100%;
        height: auto;
        padding: 20px;
    }
    input{
        width: 80%;
    }
    textarea{
        width: 80%;

    }
    /*gustos*/
    .div-chocolateDulces{
        width: fit-content;
        height: fit-content;

    }
    .div-chocolateDulces h2{
        font-size: 40px;
    }
    .div-chocolateDulces ul{
        font-size: 30px;
    }

     
    .div-tradicionalesFrutales{
        width: fit-content;
        height: fit-content;

    }
    .div-tradicionalesFrutales h2{
        font-size: 40px;
    }
    .div-tradicionalesFrutales ul{
        font-size: 30px;
    }
   

}   


@media only screen and (max-width: 768px){
    /*index*/
    .main-div-karinat img{
        width: 100%;
        height: auto;
    }
    .main-div-nutella img{
        width: 100%;
        height: auto;
    }


    /*productos*/

    .padreGaleria1-productos{
        flex-direction: column;
        align-items: center;
    }
    .padreGaleria2-productos{
        flex-direction: column;
        align-items: center;
    }
    .padreGaleria3-productos{
        flex-direction: column;
        align-items: center;

    }
    .padreGaleria3-productos img{
        margin: 0px;
    }
    .paletasHeladas{
        margin: 0px;
    }
    
    /*gustos*/

    .main-gustos{
        flex-direction: column;
        
    }
    .div-chocolateDulces{
        width: auto;

    }
    .div-chocolateDulces h2{
        font-size: 40px;
    }
    .div-chocolateDulces ul{
        font-size: 30px;
    }

     
    .div-tradicionalesFrutales{
        width: auto;

    }
    .div-tradicionalesFrutales h2{
        font-size: 40px;
    }
    .div-tradicionalesFrutales ul{
        font-size: 30px;
    }

    /*sobre nosotros*/
    .div-img-texto-local{
        flex-direction: column;
    }
    .imgLocal{
        width: 100%;
        height: auto;
    }
    .textoLocal{
        width: auto;
        height: auto;
        font-size: 21px;
    }
    .div-imag-texto-cuarto{
        flex-direction: column;
    }
    .imgCuarto{
        width: 100%;
        height: auto;
    }
    .textoCuarto{
        width: auto;
        height: auto;
        font-size: 21px;
    }
    /*contactos*/

    .mainContacto{
        width: auto;
        height: auto;
        margin: 30px;
    }
    form{
        
        width: 100%;
        height: auto;
        padding: 20px;
    }
    input{
        width: 80%;
    }
    textarea{
        width: 80%;

    }


}
@media only screen and (max-width: 653px){
    /*index*/
    .CardMain h5 {
        margin-top: 10%;
        font-size: 30px;

    }
    /*productos*/
    .padreGaleria1-productos img{
        width: 80%;
        height: 50%;
    }
    .padreGaleria2-productos img{
        width: 80%;
        height: 50%;
    }
    .padreGaleria3-productos img{
        width: 80%;
        height: 50%;
    }
}

@media only screen and (max-width: 480px){
    /*index*/

    .CardMain h5 {
        margin-top: 10%;
        font-size: 30px;

    }
    .main-div-karinat img{
        width: 95%;
        height: auto;
    }
    .main-div-nutella img{
        width: 95%;
        height: auto;
    }

    .logo{
        width: 130px;
        height: 90px;

    }
    .whatsappLogo{
        width: 200px;
        height: 60px;

    }
    header ul{
        padding: 3px;
        margin: 3px;
    }
    header li{
        font-size: 20px;
        padding: 5px;
        display: block;
    }

    .backgroundImage {
        background-image: url("./imagenes/backgroundmobile.jpg");
        background-position: center;  
        
    }
    .galeriaIndex{
        width: 80vw;
        height: 45vh;
    }
    .tituloKarinat{
        font-size: 30px;
    }
    .tituloKarinat2{
        font-size: 25px;
    }
    .texto-karinat{
        font-size: 18px;
    }
    .nuevoSabor{
        font-size: 30px;
    }
    .texto-nutella{
        font-size: 18px;
    }

    iframe{
        width: 300px;
        height: 200px;
    }
    .logoRedes{
        margin: 3px;
        padding-left: 65px;
    }
    .textoRedes{
        margin: 6px;
        
    }

    /*productos*/
    .padreGaleria1-productos{
        justify-content: center;
    }
    .padreGaleria1-productos img{
        width:  90%;
        height: 80%;
    }
    .padreGaleria2-productos img{
        width: 90%;
        height: 90%;
    }
    .padreGaleria3-productos img{
        width: 90%;
        height: 90%;
    }
    .paletasHeladas{
        font-size: 26px;
    }
    .postreHeladas{
        font-size: 26px;
    }
    .tortasHeladas{
        font-size: 26px;
    }
    /*gustos*/

    .main-gustos{
        flex-direction: column;
        
    }
    .div-chocolateDulces{
        width: auto;

    }
    .div-chocolateDulces h2{
        font-size: 30px;
    }
    .div-chocolateDulces ul{
        font-size: 20px;
    }
    .div-tradicionalesFrutales{
        width: auto;

    }
    .div-tradicionalesFrutales h2{
        font-size: 30px;
    }
    .div-tradicionalesFrutales ul{
        font-size: 20px;
    }
    /*sobre nosotros*/
    .div-img-texto-local{
        flex-direction: column;
    }
    .imgLocal{
        width: 100%;
        height: auto;
    }
    .textoLocal{
        width: auto;
        height: auto;
        font-size: 19px;
    }
    .div-imag-texto-cuarto{
        flex-direction: column;
    }
    .imgCuarto{
        width: 100%;
        height: auto;
    }
    .textoCuarto{
        width: auto;
        height: auto;
        font-size: 19px;
    }
    /*contactos*/

    .mainContacto{
        width: auto;
        height: auto;
        margin: 30px;
    }
    form{
        
        width: 100%;
        height: auto;
        padding: 20px;
    }
    input{
        width: auto;
    }
    textarea{
        width: auto;

    }

}
@media only screen and (max-width: 360px){
    /*index*/
    .CardMain h5 {
        margin-top: 5%;
        font-size: 20px;

    }
    .galeriaIndex{
        width: 70%;
        height: 70%;
    }
    .main-div-karinat img{
        width: 95%;
        height: auto;
    }
    .main-div-nutella img{
        width: 95%;
        height: auto;
    }

    /*productos*/

    .paletasHeladas{
        font-size: 26px;
    }
    .postreHeladas{
        font-size: 26px;
    }
    .tortasHeladas{
        font-size: 26px;
    }
  
    .padreGaleria1-productos img{
        width: 80%;
        height: 50%;
    }
    .padreGaleria2-productos img{
        width: 80%;
        height: 50%;
    }
    .padreGaleria3-productos img{
        width: 80%;
        height: 50%;
    }
    /*gustos*/

    .main-gustos{
        flex-direction: column;

    }
    .div-chocolateDulces{
        width: auto;

    }
    .div-chocolateDulces h2{
        font-size: 30px;
    }
    .div-chocolateDulces ul{
        font-size: 20px;
    } 
    .div-tradicionalesFrutales{
        width: auto;

    }
    .div-tradicionalesFrutales h2{
        font-size: 30px;
    }
    .div-tradicionalesFrutales ul{
        font-size: 20px;
    }

    /*sobre nosotros*/

    .div-img-texto-local{
        flex-direction: column;
    }
    .imgLocal{
        width: 100%;
        height: auto;
    }
    .textoLocal{
        width: auto;
        height: auto;
        font-size: 16px;
    }
    .div-imag-texto-cuarto{
        flex-direction: column;
    }
    .imgCuarto{
        width: 100%;
        height: auto;
    }
    .textoCuarto{
        width: auto;
        height: auto;
        font-size: 16px;
    }
    /*contactos*/

    .mainContacto{
        width: auto;
        height: auto;
        margin: 30px;
    }
    form{
        
        width: 100%;
        height: auto;
        padding: 20px;
    }
    input{
        width: auto;
    }
    textarea{
        width: auto;

    }
}