.backgroundImage{
    background-image: url("../imagenes/fotoprincipal.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
}    

.col-lg-12{
    

    h3{
        margin: 0px;
        margin-top: 50px;
        padding: 0px;
        background-color: black;
        text-align: center;
        font-size: 51px;
        color: $color-texto;
        border: solid 3px $color-border; 
        border-radius: 16px;
    }
    
    .padreGaleria1-productos {
        display: flex;
        justify-content: space-evenly;
        
    }
    .padreGaleria2-productos{
        display: flex;
        justify-content: space-evenly;
    }
    .padreGaleria3-productos{
        display: flex;
        justify-content: space-evenly;
        img{
        margin-bottom: 50px;
        }
    }
    img{
        width: 500px;
        height: 370px;
        border-radius: 15px;
        border: solid 6px white;
        margin: 30px;
      
    }
}