.backgroundImage{
    @extend .backgroundImage;
}    
              
main{
    grid-area: 2 / 1 / 5 / 6; 
    flex-direction: column;   
    
    .CardMain h5{
        display: inline-block;
        flex-wrap: wrap;
        font-size: 60px;
        background-color: black;
        align-items: center;
        margin-top: 15%;
        .CardMain img{
            max-height: 800px;
        }
    }

    .titutlosKarinat{
        display: flex;
        justify-content: center;
        margin: 21px;
        padding: 6px;
        .tituloKarinat{
            font-family: 'Karla', sans-serif;
            font-size: 50px;
            background-color:  rgba(255, 255, 255, 0.9);
            color: black;
            text-align: center;
            margin: 21px;
            padding: 6px;      
        }
        .tituloKarinat2{
            font-size: 40px;
            margin: 6px;
            padding: 6px;
        
        }   
    }
    .main-div-karinat img {
        margin: 9px;
        order: 1;
        -webkit-box-shadow: -8px 5px 13px 5px rgba(0,0,0,0.32); 
        box-shadow: -8px 5px 13px 5px rgba(0,0,0,0.32);
        border-radius: 15px;

        .galeriaIndex {
            width: 30%;
            height: 60%;    
        }

        .texto-karinat {
            border: solid 3px #495F75;
            height: fit-content;
            text-align: center;
            width: auto;
            padding: 1%;
            border-radius: 3%;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14);
            font-size: 24px;
            background: rgba(255, 255, 255, 0.9)   
        }

        .divNuevoSabor{
            display: flex;
            justify-content: center;
            background: rgba(255, 255, 255, 0.9);
            margin: 21px;
            padding: 6px;
            .nuevoSabor{
                margin: 6px;
                padding: 6px;
                font-size: 60px;
                
            }
        }
        .main-div-nutella {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 9px;
            .texto-nutella {
                border: solid 3px #495F75;
                width: auto;
                padding: 1%;
                margin: 9px;
                border-radius: 3%;
                font-size: 24px;
                text-align: center;
                -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14); 
                box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14);
                background: rgba(255, 255, 255, 0.4)   
            }  
            .galeriaIndex {
                width: 30%;
                height: 60%; 
                
            } 
        }
    }
}
