.backgroundImage{
    background-image: url("../imagenes/fotoprincipal.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
}    
              
main{
    grid-area: 2 / 1 / 5 / 6; 
    flex-direction: column;

    .main-div-karinat {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px;
       
        img {
            margin: 9px;
            order: 1;
            -webkit-box-shadow: -8px 5px 13px 5px rgba(0,0,0,0.32); 
            box-shadow: -8px 5px 13px 5px rgba(0,0,0,0.32);
            border-radius: 16px;  
        }
        .texto-karinat {
            border: solid 3px #495F75;
            height: fit-content;
            text-align: center;
            width: auto;
            padding: 1%;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14);
            font-size: 24px;
            color: $color-texto;
            background-color: black;
            border: solid 3px $color-border;
            border-radius: 16px ;   
        }    
    }
    .CardMain h5{
        display: inline-block;
        flex-wrap: wrap;
        font-size: 60px;
        background-color: black;
        align-items: center;
        margin-top: 15%;
        border: solid 3px $color-border;
        border-radius: 16px;
        .CardMain img{
            max-height: 800px;
        }
    }

    .titutlosKarinat{
        display: flex;
        justify-content: center;
        margin: 21px;
        padding: 6px;
        .tituloKarinat{
            font-family: 'Karla', sans-serif;
            font-size: 50px;
            background-color:  black;
            color: $color-texto;
            text-align: center;
            margin: 21px;
            padding: 6px;
            border: solid 3px $color-border;
            border-radius: 16px ;      
        }
        .tituloKarinat2{
            font-size: 40px;
            margin: 6px;
            padding: 6px;
        
        }   
    }
    .galeriaIndex {
        width: 30%;
        height: 60%;    
    }
        

    .divNuevoSabor{
        display: flex;
        justify-content: center;
        background: black;
        color: $color-texto;
        margin: 21px;
        padding: 6px;
        border: solid 3px $color-border;
        border-radius: 16px ;
    .nuevoSabor{
            margin: 6px;
            padding: 6px;
            font-size: 60px;
            
                
        }
    }
    .main-div-nutella {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 9px;
        .texto-nutella {
            border: solid 3px #495F75;
            width: auto;
            padding: 1%;
            margin: 9px;
            font-size: 24px;
            text-align: center;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -3px 24px 7px rgba(0,0,0,0.14);
            color: $color-texto;
            background-color: black;
            border: solid 3px $color-border; 
            border-radius: 16px;
            }  
            .galeriaIndex {
                width: 30%;
                height: 60%; 
                
            } 
            img{
                border-radius: 16px;
            }
        }  
}   
.card-group{
    margin: 60px auto 60px;
    border: solid 3px $color-border;
    .card{
        border: solid 3px $color-border;    
        .card-body{
            text-align: center;
            background-color: black;
            color: white;
            font-size: 20px;
            display: inline-block;
            padding: 18px;
        }
    }
    img{
        height: 70%;
    }

}
   
    

