.main-gustos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .div-chocolateDulces{
        margin: 27px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        width: 36%;
        height: fit-content;
        border: solid 3px $color-border; 
        background: white;
        .titulosGustos{
            color: $color-texto;
            text-align: center;
            font-size: 51px;
            background: rgba(2, 2, 2, 0.9);
            border: solid 3px $color-border;
            margin: 3px;
            border-radius: 16px;
        } 
        .chocolates{
            color: $color-texto;
            background: rgba(0, 0, 0, 0.9);
            border: solid 6px aliceblue;
            font-size: 31PX;
            border: solid 3px $color-border;
            border-radius: 16px; 
            li{
                list-style: none;
                padding: 9px;
                text-align: center;
            }
        }
        .dulces-de-leche{
            color: $color-texto;
            background: rgba(0, 0, 0, 0.9);
            border: solid 6px aliceblue;
            font-size: 31PX;
            border: solid 3px $color-border;
            border-radius: 16px;
            li{
                list-style: none;
                padding: 9px;
                text-align: center;
            }
        }   
    }
    .div-tradicionalesFrutales{
        margin: 27px;
        border-radius: 16px;
        background: white;
        display: flex;
        flex-direction: column;
        width: 36%;
        height: fit-content;
        border: solid 3px $color-border;
        .tradicionales{
            color: $color-texto;
            background: rgba(0, 0, 0, 0.9);
            border: solid 6px aliceblue;
            font-size: 31PX;
            border: solid 3px $color-border;
            border-radius: 16px;
            li{
                list-style: none;
                padding: 9px;
                text-align: center;
            }
           
        }
        
        .titulosGustos{
            color: $color-texto;
            text-align: center;
            font-size: 51px;
            background: rgba(2, 2, 2, 0.9);
            border: solid 3px $color-border;
            margin: 3px;
            border-radius: 16px;
        } 
        .frutales{
            color: $color-texto;
            background: rgba(0, 0, 0, 0.9);
            border: solid 6px aliceblue;
            font-size: 31PX;
            border: solid 3px $color-border;
            border-radius: 16px;
            li{
                list-style: none;
                padding: 9px;
                text-align: center;
            }
        }   
    }
}